.movie-page{
    color: #fff;
    display: flex;
    max-width: 800px;
    margin: 2rem auto;
    gap: 2rem;
    background-color: #121212;
    padding: 1.5rem;
}

.movie-page img{
    max-width: 300px;
    margin-bottom: 0.7rem;
}

.movie-page div:first-child{
    display: flex;
    flex-direction: column;
}

.movie-page h3{
    margin-bottom: .3rem;
}

.informations{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
}

.informations .info{
    margin-bottom: 1rem;
}

.movie-page svg{
    color: #f7d354;
}